div.autocomplete {
  position:absolute;
  width:220px;
  background-color:white;
  border:1px solid #888;
  margin:0px !important;
  padding:0px !important;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0px;
  padding:0px;
  height:20px;
  cursor:pointer;
}