form.default {
	margin-top: 0px;
}

form.default div {
  padding: 5px;
}

form.default label {
  float: left;
  width: 200px;
  display: block;
}

form.default div div label {
  width: 150px;
}

form.default input[type="text"] {
	width: 400px;
}

div.check-boxes {
	padding: 0px !important;
	margin: 0px !important;
	margin-left: 200px !important;
}

label.check-box-label {
	float: none !important; 
	display: inline !important;
}

form.default textarea {
  width: 400px;
  height: 170px;
}
