<h1>Verfügbare Spiele</h1>

<p>
	<%= page_entries_info @games %>
</p>

<div>
<%= render :partial => "games_table", :locals => { :games => @games } %>
</div>

<p>
	<%= will_paginate @games %>
</p>


<% content_for :menu do %>
	<li><%= link_to 'Neues Spiel', new_game_path %></li>
<% end %>
