<h1>Verfügbare Spiele</h1>

<div>
<%= render :partial => "games_table", :locals => { :games => @games } %>
</div>

<p>
	<%= link_to "Home", "/" %> | <%= link_to 'Neues Spiel erfassen', new_game_path %>
</p>
