<p id="notice"><%= notice %></p>

<h1>Spiel Details &laquo;<%= @game %>&raquo;</h1>

<p>
	<%= render :partial => "properties", :locals => { :game => @game } %>
</p>

<% content_for :menu do%>
	<li><%= link_to 'Spiel Anpassen', edit_game_path(@game) %></li>
<% end %>
