<p id="notice"><%= notice %></p>

<h1>Spiel Details</h1>

<p>
	<%= render :partial => "properties", :locals => { :game => @game } %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
