<h2>Spiel Details &laquo;<%= @game %>&raquo;</h2>

<%= render :partial => "properties", :locals => { :game => @game } %>

<p>
<button onclick="Effect.SlideUp('search-results');">Ausblenden</button>
</p>