<h1>Kontakt</h1>

Hast Du in meiner Spielesammlung gestöbert und bist auf eine Unklarheit gestossen? Kennst Du ein Spiel, das ich noch nicht erfasst habe? Hast Du ein Spiel nicht gefunden, weil Du es unter einem anderen Namen kennst? Oder würdest Du mir einfach gerne Deine Meinung sagen?
<p>
Dann schreib mir doch einfach eine Mail:
