<h1>Disclaimer</h1>

Die Idee zum Projekt "Zettelkasten" ist während meines Studiums an der ZHdK entstanden. Sämtliche aufgeführten Spiele habe ich aus verschiedenen, teilweise bereits bestehenden Spielesammlungen zusammengetragen. 
Ich erhebe weder den Anspruch auf Vollständigkeit noch auf Einzigartigkeit.
Es würde mich einfach freuen, auf diesem Weg meine Faszination am Spiel weitergeben zu können.
In diesem Sinne hoffe ich Du hast auf dieser Seite etwas passendes und inspirierendes gefunden und wünsche Dir viel Spass beim Ausprobieren!
<p>

