<h1>Zettelkasten</h1>

<p>
	Spiele als Ursprung kreativer Prozesse, das Spielen als eines der ältesten Bedürfnisse der Menschheit, das Spiel, die Gruppe als gemeinsamer Ausdruck der Zusammengehörigkeit. Das Spiel als Auflockerung, als künstlerische Äusserung oder einfach als Medium des Kennenlernens.
	Während dem Spiel kann man die Zeit vergessen, während dem Spiel lernt man sich selber kennen, während dem Spiel sind alle Alltags-Konventionen ungültig.
</p>
<p>
	Diese persönliche Faszination am Spielen schlägt sich in meiner Seminararbeit nieder. Ich möchte meine persönliche Spiele-Sammlung digital erfassen, ordnen und für andere zugängig machen. Ich verfolge das Ziel einer benutzerfreundlichen Datenbank, die mit einer Expertensuche versehen ist und so schnelle und treffende Suchresultate liefert. Der Benutzer soll durch diese Art von Suche auch auf Spiele stossen, die er noch nicht kennt, die aber seine Ansprüche genau erfüllen.

</p>

<p>
	
	<h2>Schnellsuche</h2>
	
	<%= form_for :game do |f| %>

	<div>
		<%= f.text_field :query %>
		<div class="autocomplete" id="game_choices" style="display: none;"></div>
	</div>
	
	<% end %>
	
	<p id="search-results" style="display: none;">
		
	</p>
	
</p>


<script type="text/javascript" charset="utf-8">
	Manager.Utilities.Search.addAutocompletion();
</script>