<!DOCTYPE html>
<html>
<head>
  <title>GameManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="page">
	
	<div id="header">
		Willkommen auf meiner seite....
	</div>

	
	<div id="content">
		<%= yield %>
	</div>
	
	</div>

</body>
</html>
